includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes

    # Exclusions
    excludePaths:
        - ./database/migrations
        - ./database/seeders
        - ./tests
        - ./storage
        - ./resources/views

    # Performance
    parallel:
        maximumNumberOfProcesses: 4

    # Cache
    tmpDir: ./storage/framework/cache/phpstan
    
    # Ignorer certaines erreurs
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Variable \$this might not be defined#'

    # Laravel specific
    checkModelProperties: true 